.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  @apply bg-light-bg text-dark-text transition-colors duration-300;
}

body.dark {
  @apply bg-dark-bg text-light-text;
}

/* Optional colors for light/dark mode */
:root {
  --light-bg: #f8fafc; /* Light background */
  --dark-bg: #1a202c; /* Dark background */
  --light-text: #1a202c; /* Light mode text */
  --dark-text: #e5e7eb; /* Dark mode text */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}
